
*.cache
bin/gmt.pdb
bin/gmt.dll
.vs/gm/v14/.suo
*.txt
*.cache
GMService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GMService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/
Debug/
Release/
*.mdb
*.ldb
.user
GMTDescConfigCn.xml
.pdb
.dll.config
log/
